<ul class="sidebar">
  <li class="sidebar-main">
    <a ng-click="toggleSidebar()">
      GPQuery
      <span class="menu-icon glyphicon glyphicon-transfer"></span>
    </a>
  </li>
  <li class="sidebar-title"><span>NAVIGATION</span></li>
  <li class="sidebar-list">
    <a sref="/">Dashboard <span class="menu-icon fa fa-tachometer"></span></a>
  </li>
  <li class="sidebar-list">
    <a sref="/">Information <span class="menu-icon fa fa-tasks"></span></a>
  </li>
  <li class="sidebar-list">
    <a sref="/">Data Table <span class="menu-icon fa fa-table"></span></a>
  </li>
  <li class="sidebar-list">
    <a sref="/">Comparison <span class="menu-icon fa fa-columns"></span></a>
  </li>
  <li class="sidebar-list">
    <a sref="/">Bar Graph <span class="menu-icon fa fa-bar-chart"></span></a>
  </li>
  <li class="sidebar-list">
    <a sref="/">Pie Graph <span class="menu-icon fa fa-pie-chart"></span></a>
  </li>
  <li class="sidebar-list">
    <a sref="/">Area Plot <span class="menu-icon fa fa-area-chart"></span></a>
  </li>
  <li class="sidebar-list">
    <a sref="/">Line Plot <span class="menu-icon fa fa-line-chart"></span></a>
  </li>
</ul>

<!-- Sidebar Footer -->
<div class="sidebar-footer">
  <div class="col-xs-2">
    <a href="#" target="_blank">
      <span class="fa-stack fa-lg">
        <i class="fa fa-square fa-stack-2x"></i>
        <i class="fa fa-link fa-stack-1x fa-inverse"></i>
      </span>
    </a>
  </div>
  <div class="col-xs-2">
    <a href="https://github.com/GPQuery/" target="_blank">
      <span class="fa-stack fa-lg">
        <i class="fa fa-square fa-stack-2x"></i>
        <i class="fa fa-github fa-stack-1x fa-inverse"></i>
      </span>
    </a>
  </div>
  <div class="col-xs-2">
    <a href="#" target="_blank">
      <span class="fa-stack fa-lg">
        <i class="fa fa-square fa-stack-2x"></i>
        <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
      </span>
    </a>
  </div>
  <div class="col-xs-2">
    <a href="#" target="_blank">
      <span class="fa-stack fa-lg">
        <i class="fa fa-square fa-stack-2x"></i>
        <i class="fa fa-reddit fa-stack-1x fa-inverse"></i>
      </span>
    </a>
  </div>
  <div class="col-xs-2">
    <a href="#" target="_blank">
      <span class="fa-stack fa-lg">
        <i class="fa fa-square fa-stack-2x"></i>
        <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
      </span>
    </a>
  </div>
</div>
<!--
  <div class="col-xs-4">
    <a sref="#" target="_blank">
      Github
    </a>
  </div>
  <div class="col-xs-4">
    <a sref="#" target="_blank">
      About
    </a>
  </div>
  <div class="col-xs-4">
    <a sref="#">
      Support
    </a>
  </div>
</div>
-->