# =========================
# GPQuery Components
# =========================
/poppy
/docs
/server

# =========================
# Packages/Dependencies
# =========================
/node_modules
client/components/*
!client/components/rdash-ui/
client/components/rdash-ui/*
!client/components/rdash-ui/dist/
client/components/rdash-ui/dist/*
!client/components/rdash-ui/dist/css/

# =========================
# Operating System Files
# =========================
Thumbs.db
ehthumbs.db
.editorconfig
Desktop.ini
*.cab
*.msi
*.msm
*.msp
$RECYCLE.BIN/
.DS_Store
.AppleDouble
.LSOverride
Icon
._*
.Spotlight-V100
.Trashes